<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<true/>
	<key>last-messagetrace-stamp</key>
	<real>450383675.31688398</real>
	<key>mod-count</key>
	<integer>45</integer>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>2433583259</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.google.Chrome</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAAC0AAMAAQAA0Q9JCAAASCsAAAAAAAAA
					jAAKJW8AANEpo8MAAAAACSD//gAAAAAAAAAA
					/////wABAAQAAACMAA4AJAARAEcAbwBvAGcA
					bABlACAAQwBoAHIAbwBtAGUALgBhAHAAcAAP
					ABoADABNAGEAYwBpAG4AdABvAHMAaAAgAEgA
					RAASAB5BcHBsaWNhdGlvbnMvR29vZ2xlIENo
					cm9tZS5hcHAAEwABLwD//wAA
					</data>
					<key>_CFURLString</key>
					<string>file:///Applications/Google%20Chrome.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Chrome</string>
				<key>file-mod-date</key>
				<integer>3511799995</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3511797453</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3229573876</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.apple.Safari</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAACgAAMAAQAA0Q9JCAAASCsAAAAAAAAA
					jAAAI1oAANAIec8AAAAACSD//gAAAAAAAAAA
					/////wABAAQAAACMAA4AFgAKAFMAYQBmAGEA
					cgBpAC4AYQBwAHAADwAaAAwATQBhAGMAaQBu
					AHQAbwBzAGgAIABIAEQAEgAXQXBwbGljYXRp
					b25zL1NhZmFyaS5hcHAAABMAAS8A//8AAA==
					</data>
					<key>_CFURLString</key>
					<string>file:///Applications/Safari.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Safari</string>
				<key>file-mod-date</key>
				<integer>3490216399</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3509721545</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3229573879</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.apple.iCal</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAACmAAMAAQAA0Q9JCAAASCsAAAAAAAAA
					jAAEcJoAANDwq7UAAAAACSD//gAAAAAAAAAA
					/////wABAAQAAACMAA4AGgAMAEMAYQBsAGUA
					bgBkAGEAcgAuAGEAcABwAA8AGgAMAE0AYQBj
					AGkAbgB0AG8AcwBoACAASABEABIAGUFwcGxp
					Y2F0aW9ucy9DYWxlbmRhci5hcHAAABMAAS8A
					//8AAA==
					</data>
					<key>_CFURLString</key>
					<string>file:///Applications/Calendar.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Calendar</string>
				<key>file-mod-date</key>
				<integer>3505433525</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3511797453</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3229573888</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.apple.iTunes</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAACgAAMAAQAA0Q9JCAAASCsAAAAAAAAA
					jAAEmDgAANC4s5YAAAAACSD//gAAAAAAAAAA
					/////wABAAQAAACMAA4AFgAKAGkAVAB1AG4A
					ZQBzAC4AYQBwAHAADwAaAAwATQBhAGMAaQBu
					AHQAbwBzAGgAIABIAEQAEgAXQXBwbGljYXRp
					b25zL2lUdW5lcy5hcHAAABMAAS8A//8AAA==
					</data>
					<key>_CFURLString</key>
					<string>file:///Applications/iTunes.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>iTunes</string>
				<key>file-mod-date</key>
				<integer>3501765526</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3507441401</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3229573889</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.apple.iBooksX</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAACgAAMAAQAA0Q9JCAAASCsAAAAAAAAA
					jAACVNUAANA1PccAAAAACSD//gAAAAAAAAAA
					/////wABAAQAAACMAA4AFgAKAGkAQgBvAG8A
					awBzAC4AYQBwAHAADwAaAAwATQBhAGMAaQBu
					AHQAbwBzAGgAIABIAEQAEgAXQXBwbGljYXRp
					b25zL2lCb29rcy5hcHAAABMAAS8A//8AAA==
					</data>
					<key>_CFURLString</key>
					<string>file:///Applications/iBooks.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>iBooks</string>
				<key>file-mod-date</key>
				<integer>3493150151</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3507441401</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2433583260</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.spotify.client</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAACiAAMAAQAA0Q9JCAAASCsAAAAAAAAA
					jAAO3GkAANFCFNsAAAAACSD//gAAAAAAAAAA
					/////wABAAQAAACMAA4AGAALAFMAcABvAHQA
					aQBmAHkALgBhAHAAcAAPABoADABNAGEAYwBp
					AG4AdABvAHMAaAAgAEgARAASABhBcHBsaWNh
					dGlvbnMvU3BvdGlmeS5hcHAAEwABLwD//wAA
					</data>
					<key>_CFURLString</key>
					<string>file:///Applications/Spotify.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Spotify</string>
				<key>file-mod-date</key>
				<integer>3510768859</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3511797453</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2433583261</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.googlecode.iterm2</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAACcAAMAAQAA0Q9JCAAASCsAAAAAAAAA
					jAAKZmwAANB9/iwAAAAACSD//gAAAAAAAAAA
					/////wABAAQAAACMAA4AFAAJAGkAVABlAHIA
					bQAuAGEAcABwAA8AGgAMAE0AYQBjAGkAbgB0
					AG8AcwBoACAASABEABIAFkFwcGxpY2F0aW9u
					cy9pVGVybS5hcHAAEwABLwD//wAA
					</data>
					<key>_CFURLString</key>
					<string>file:///Applications/iTerm.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>iTerm</string>
				<key>file-mod-date</key>
				<integer>3497917996</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3510844685</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2433583262</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tinyspeck.slackmacgap</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAACcAAMAAQAA0Q9JCAAASCsAAAAAAAAA
					jAAJ9uUAANEUQSgAAAAACSD//gAAAAAAAAAA
					/////wABAAQAAACMAA4AFAAJAFMAbABhAGMA
					awAuAGEAcABwAA8AGgAMAE0AYQBjAGkAbgB0
					AG8AcwBoACAASABEABIAFkFwcGxpY2F0aW9u
					cy9TbGFjay5hcHAAEwABLwD//wAA
					</data>
					<key>_CFURLString</key>
					<string>file:///Applications/Slack.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Slack</string>
				<key>file-mod-date</key>
				<integer>3509725387</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3511797453</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2433583263</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.valvesoftware.steam</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAADIAAMAAQAA0Q9JCAAASCsAAAAAAAtS
					2wALUvUAAM8ylwcAAAAACSD//gAAAAAAAAAA
					/////wABABQAC1LbAAtS2gALDmUACw5kAAsO
					YwAOABQACQBTAHQAZQBhAG0ALgBhAHAAcAAP
					ABoADABNAGEAYwBpAG4AdABvAHMAaAAgAEgA
					RAASADFvcHQvaG9tZWJyZXctY2Fzay9DYXNr
					cm9vbS9zdGVhbS9sYXRlc3QvU3RlYW0uYXBw
					AAATAAEvAP//AAA=
					</data>
					<key>_CFURLString</key>
					<string>file:///opt/homebrew-cask/Caskroom/steam/latest/Steam.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Steam</string>
				<key>file-mod-date</key>
				<integer>3509993832</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3509993695</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2433583264</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.twitter.TweetDeck</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAACoAAMAAQAA0Q9JCAAASCsAAAAAAAAA
					jAAOy2IAANE6DbcAAAAACSD//gAAAAAAAAAA
					/////wABAAQAAACMAA4AHAANAFQAdwBlAGUA
					dABEAGUAYwBrAC4AYQBwAHAADwAaAAwATQBh
					AGMAaQBuAHQAbwBzAGgAIABIAEQAEgAaQXBw
					bGljYXRpb25zL1R3ZWV0RGVjay5hcHAAEwAB
					LwD//wAA
					</data>
					<key>_CFURLString</key>
					<string>file:///Applications/TweetDeck.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>TweetDeck</string>
				<key>file-mod-date</key>
				<integer>3510768237</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3511797453</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>3229573892</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAACsAAMAAQAA0Q9JCAAASCsAAAAAAAlA
					EwAJQBYAANEPSj0AAAAACSD//gAAAAAAAAAA
					/////wABAAgACUATAAKVFAAOABQACQBEAG8A
					dwBuAGwAbwBhAGQAcwAPABoADABNAGEAYwBp
					AG4AdABvAHMAaAAgAEgARAASABtVc2Vycy9j
					aHJpc3RvcGhlci9Eb3dubG9hZHMAABMAAS8A
					ABUAAgAS//8AAA==
					</data>
					<key>_CFURLString</key>
					<string>file:///Users/christopher/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>3509721243</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>parent-mod-date</key>
				<integer>3509721266</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>1</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>trash-full</key>
	<false/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-bl-corner</key>
	<integer>4</integer>
	<key>wvous-bl-modifier</key>
	<integer>0</integer>
	<key>wvous-br-corner</key>
	<integer>10</integer>
	<key>wvous-br-modifier</key>
	<integer>0</integer>
</dict>
</plist>
